.fs-24{
    font-size:24px
}.fs-20{
    font-size:20px;
}
.fs-14{
    font-size:14px;
}
.pb5{
    padding-bottom:2%;
}.codeOrange{
    color: #FFA500;
}.orange{
    color: #FC9E4F;
}.orange:hover{
    color: #FC9E4F;
    filter: brightness(75%);
}
.blue{
    color: #208AAE;
}.white{
    color:white;
}.purple{
    color:#C678DD;
}
.green{
    color: #73AB84;
}.green:hover{
   color:#568f67; 
}
.bg-orange{
    background-color: #FC9E4F;
}.bg-darkorange{
    background-color: #e46a04;
}
.bg-blue{
    background-color: #208AAE;
}.bg-green{
    background-color: #73AB84;
}.bg-black{
    background-color: #343A40;
}.bg-pink{
    background: #CFBFF7;
}
.dropdown-item:hover{
    background-color: #208AAE;
}.mx-10{
    margin-left:25%;
}
.icon{
    padding-bottom:2.5%;
}.AccessModiferTable{
    width:110%;
}.AccessModiferTable th{
    width:12%
}.polymorphismTable{
    width:90%
}.polymorphismTable th{
    width:45%;
}.abstractTable{
    width:50%
}.abstractTable th{
    width:25%;
}.noPadding{
    margin-bottom:-1%
}
.copybutton:hover{
    filter: brightness(50%);
}.recursiontable th{
    width:50%;
}.fs-12{
    font-size:12px;
}.fs-13{
    font-size:13px;
}